@model Bio

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminE/Views/Shared/_AdminLayout.cshtml";
}



@if (Model!=null)
{
    

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <p class="card-description">
                    <div class="table-responsive">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Number</th>
                                    <th>Facebook</th>
                                    <th>Twitter</th>
                                    <th>Pinterest</th>
                                    <th>Vkontakt</th>
                                </tr>
                            </thead>
                            <tbody>



                                <tr>
                                    <td><img style="width:200px;height:50px;" src="~/img/logo/@Model.Logo" /></td>
                                    <td>@Model.Number</td>
                                    <td>@Model.Facebook</td>
                                    <td>@Model.Twitter</td>
                                    <td>@Model.Pinterest</td>
                                    <td>@Model.Vcontact</td>
                                   
                                </tr>


                            </tbody>
                        </table>
                         <a asp-controller="Bio" asp-action="index" class="btn btn-primary">Back</a>
                    </div>
            </div>
        </div>
    </div>
</div>
}
else{
    <h1>Bosdu</h1>
}
